{% extends "base.html" %}
{% block content %}
<section id="pricing">
<div class="content">     
{% if libro != None and autor == None and genero == None %}
<table class="table">
    <tr>
        <th>Titulo</th>
        <th>Descripcion</th>
    </tr>
    {% for libro in libro %}
    <tr>
        <td><a href="mostrarLibro/{{libro[0].id}}">{{ libro[0].titulo }}</a></td>
        <td>{{ libro[0].descripcion }}</td>
    </tr>
    {% endfor %}
        </table>
{% endif %}        

       {% if autor != None %} 
        <table class="table">
            <tr>
                <th>Autor</th>
                <th>Titulo</th>
                <th>Descripcion</th>
            </tr>
            {% for libro in librosAut %}
            <tr>
                <td>{{ libro[1].nomAutor }}</td>
                <td><a href="mostrarLibro/{{libro[0][0].id}}">{{ libro[0][0].titulo }}</a></td>
                <td>{{ libro[0][0].descripcion }}</td>
            </tr>
            {% endfor %}
                </table>
        {% endif %}

        {% if genero != None and autor == None %} 
        <table class="table">
            <tr>
                <th>Genero</th>
                <th>Titulo</th>
                <th>Descripcion</th>
            </tr>
            {% for libro in librosGen %}
            <tr>
                <td>{{ libro[1].nomGenero }}</td>
                <td><a href="mostrarLibro/{{libro[0][0].id}}">{{ libro[0][0].titulo }}</a></td>
                <td>{{ libro[0][0].descripcion }}</td>
            </tr>
            {% endfor %}
                </table>
        {% endif %} 
    </div>
      </section>
    </body>



{% endblock %}