{% extends "base.html" %}
{% block title %} Bookflix | Registrarse {% endblock %}
{% block content %}

<section id="pricing">
  
  <h1>Crea tu cuenta</h1>
  <p>Selecciona un plan, luego rellena tus datos personales para continuar con el registro.</p>

  <div class="row">

    <div class="pricing-column col-lg-6 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Standard</h3>
        </div>
        <div class="card-body">
          <h2>$499 / año</h2>
          <p>Hasta <strong>2 perfiles</strong> en tu cuenta</p>
          <p>Un pago anual</p>
          <a class="btn btn-outline-dark btn-lg btn-block" href="/signup/standard" role="button">Elegir</a>
        </div>
      </div>
    </div>

    <div class="pricing-column col-lg-6 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Premium</h3>
        </div>
        <div class="card-body">
          <h2>$999 / año</h2>
          <p>¡Disfruta Bookflix al máximo con <strong>hasta 4 perfiles</strong> en tu cuenta!</p>
          <p>Un pago anual</p>
          <a class="btn btn-warning btn-lg btn-block" href="/signup/premium" role="button">Elegir</a>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}
