{% extends "admin.html" %}
  {% block content %}
    <center><p id="los_errores"></p></center>

    <div id="account">
        <form name="subirArchivo" method="POST"  class="agLib" enctype="multipart/form-data" onsubmit="return validarCapitulo()">
            
            <label>Cantidad de paginas:</label>
            <input type="number" name="cantPags" style="margin: 0 auto;" class="col-lg-4 col-lg-offset-4; form-control"><br>
            
            <label>Archivo PDF:</label>
            <input type="file" name="PDF"><br><br>
            
            <label>Fecha de vencimiento</label>
            <input type="datetime" name="fec_ven" style="margin: 0 auto;" class="col-lg-4 col-lg-offset-4; form-control"><br>


            <button type="submit" class="btn btn-primary" >Subir capitulo</button>
        </form>
{% endblock %}