

<div class="accordion accordion-icons" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                 <i class='fas fa-chevron-down'></i>
              </a>
              Mostrar comentarios
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <!-- comienzo de comentarios-->

            <div class="row d-flex justify-content-center mt-100 mb-100">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="card-title">Latest Comments</h4>
                        </div>
                        <div class="comment-widgets">
                            <!-- Comment Row -->
                            <div class="d-flex flex-row comment-row m-t-0">
                                <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg" alt="user" width="50" class="rounded-circle"></div>
                                <div class="comment-text w-100">
                                    <h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>
                                    <div class="comment-footer"> <span class="text-muted float-right">April 14, 2019</span></div>
                                </div>
                            </div> <!-- Comment Row -->
                            <div class="d-flex flex-row comment-row">
                                <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" alt="user" width="50" class="rounded-circle"></div>
                                <div class="comment-text w-100">
                                    <h6 class="font-medium">Johnathan Doeting</h6> <span class="m-b-15 d-block">Great industry leaders are not the real heroes of stock market. </span>
                                    <div class="comment-footer"> <span class="text-muted float-right">August 1, 2019</span></div>
                                </div>
                            </div>
                        </div> <!-- Card -->
                    </div>
                </div>
            </div>


            <!-- fin de comentarios-->


          </div>
        </div>
      </div>

